# Torch and Vision
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

# Face Detection
facenet-pytorch==2.6.0

# Data Manipulation and Utilities
numpy==1.26.4
pandas==2.2.2
tqdm==4.66.4
matplotlib==3.8.4
Pillow==10.2.0
scikit-learn==1.5.0
seaborn==0.13.2

# Notebook Display
ipykernel==6.29.4
notebook==7.2.0